<div class="container-fluid p-0 mx-5 text-white d-flex flex-column gap-3">
    <app-carousel (spellTekst)="spellTekst($event)" *ngIf="popularMovies && popularMovies.results; else skeleton" [movies]="popularMovies.results" carouselTitle="Popularne filmy"></app-carousel>
    <app-carousel *ngIf="nowPlayingMovies && nowPlayingMovies.results" [movies]="nowPlayingMovies.results" carouselTitle="Najczęściej oglądane"></app-carousel>
    <app-carousel *ngIf="topRatedMovies && topRatedMovies.results" [movies]="topRatedMovies.results" carouselTitle="Najlepiej oceniane"></app-carousel>
    <ng-template #skeleton>
        <p-skeleton styleClass="mb-2"></p-skeleton>
        <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton width="10rem" height="4rem"></p-skeleton>
    </ng-template>
</div>