<div class="d-flex flex-column justify-content-center align-items-center">
  <nav class="navbar navbar-expand-lg bg-dark px-5 w-100">
  <div class="container-fluid d-flex flex-row">
    <a class="navbar-brand text-white" routerLink="/dashboard">Fake FILMWEB</a>
    <app-search-box class="w-100 d-flex justify-content-center" (searchEvent)="onSearch($event)"></app-search-box>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
    </div>
  </div>
</nav>
<main>
  <div style="max-width: 1920px;" class="d-flex flex-column justify-content-center mt-4">
    <router-outlet></router-outlet>
  </div>
</main>
</div>
